* {
  margin: 0%;
  padding: 0%;
  font-family: "gg sans";
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url("https://img.itch.zone/aW1nLzExNzcxMzYucG5n/original/Ghm8Du.png");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a:link{
  color: rgb(7,106,174);
  font-family: "gg sans";
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.container {
  border: none;
  border-radius: 4.5px;
  padding: 36px;
  width: 50%;
  background-color: #36393f;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  position: fixed;
top: 13.5%;
left: 25%;
}
.astrix {
  color: red;
  size: 3px;
}
.welcome {
  text-align: center;
  font-family: "gg sans";
}
.wel {
  text-align: center;
  color: #b5bac1;
  font-weight: 400;
  font-size: 16px;
  padding-left: 50px;
  
}
.entry1,
.entry2,
.entry3 {
  color: #b5bac1;

}
.entry3{
  font-size: 12px;
  font-weight: 500px;
}
input[type="text"] {
  width: 230%;
  height: 30px;
  border-radius: 4px;
}
.entry1,
.entry2 {
  font-size: 12px;
  font-weight: 700;
  font-family:"gg sans";
}
input[type="button"].but {
  border: none;
  border-radius: 5px;
  padding: 12px;
  width: 240%;
  margin: auto;
  cursor: pointer;
  font-size: 15px;
  background-color: #5865f2;
  color: white;
  display: inline-block;
  font-family: "gg sans";
  font-weight: 600;
}
.code {
  width: 180px;
  height: 180px;
  background-color: white;
  margin:auto;
  margin-bottom: 20px;
}
.right {
  text-align: right;
  justify-content: right;
 margin:20px,20px,20px,20px;
  display: grid;
  font-family: "gg sans";
}
.QR {
  font-family: "gg sans";
  margin: 10px,10px,10px,10px;
}
.left{
  text-align: left;
  justify-content: left;
  display: grid;
}
.container2{
  display: grid;
  grid-template-columns: 50% 50%;
}
.cent{
  text-align: center;
  color: #b5bac1;
}
.back{
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: white;
  text-align: center;
  padding-left: 80px;
}