* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.bg {
  background-image: url("https://th.bing.com/th/id/OIP._ZETHqaTCW1r5eiqmdGPngHaEK?pid=ImgDet&rs=1");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #73c2fb;
}

.container {
  border: 5px solid #36393f;
  margin: auto;
  padding: 10px;
  width: 55%;
  background-color: #36393f;
  color: white;
  height: 650px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25%;
  height: 40vh;
}

.login-content {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.astrix {
  color: red;
  size: 3px;
}

.welcome {
  text-align: center;
}

.wel {
  text-align: center;
  color: gainsboro;
}

.entry1,
.entry2,
.entry3 {
  color: gainsboro;
}

input[type="text"] {
  width: 72%;
  height: 24px;
  border-radius: 2px;
}

.entry1,
.entry2 {
  font-size: 13px;
  font-weight: 200;
  font-family: "Roboto Slab", serif;
}

input[type="button"].but {
  border: 2px solid #5865f2;
  border-radius: 5px;
  padding: 12px;
  width: 55%;
  margin: 30px;
  cursor: pointer;
  border: 1px solid;
  font-size: 15px;
  background-color: #5865f2;
  color: white;
}

.code {
  width: 180px;
  height: 180px;
  background-color: white;
}

.right {
  width: calc(100% / 2 - 8px);
}

.left {
  width: 50%;
}

.QR {
  font-family: "Roboto", serif;
}
